.container{
    display: flex;
    justify-content: center;
    padding:  20px;

    img:hover{
        transform: scale(1.0);
    }
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    button{
        padding: 10px 20px;
        color: white;
        margin-top: 30px;
        background-color: #ccc4c4;
        border-radius: 20px;
    }
}